.profile-details{
    font-size: 44px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal; 
    color: #ff5155;
    padding-left:20px
    
  }
.left-section{
    display: flex;
    flex-direction: row;
    align-items: center;
}