.dashboard-container{
   
    h2{
        text-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
        font-size: 50px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
    }
    .word-input{
        height:60px;
        opacity: 0.59;
        border-radius: 5px;
        box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8);
        background-color: #ffffff;
        color: #032228;
        text-transform: uppercase;
    }
    .game-over-container{
        h2{
            font-family: Gotham;
            font-size: 3rem;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
            @media screen  and (max-width:540px){
                font-size: 2rem;
            }
        }
        h4{
            font-family: Gotham;
            font-size: 4rem;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
            @media screen  and (max-width:540px){
                font-size: 3rem;
            }
        }
        p{
            font-size: 2rem;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.21;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
            @media screen  and (max-width:540px){
                font-size: 1rem;
            }
        }
        .play-again{
            cursor: pointer;
            text-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
            font-family: Gotham;
            font-size: 3.3rem;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.21;
            letter-spacing: normal;
            text-align: center;
            color: #ff5155;
            text-transform: uppercase;
            margin:25px 0;
            @media screen  and (max-width:540px){
                font-size: 2.5rem;
            }
            img{
                width: 3rem;
                margin: 0 10px;
                vertical-align: baseline;
                @media screen  and (max-width:540px){
                    width: 2rem;
                }
            }
            
        }
    }
    .quit-game{
        padding-top:10px;
        text-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
        font-family: Gotham;
        font-size: 47px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.19;
        letter-spacing: normal;
        text-align: left;
        color: #ff5155;
        text-transform: uppercase;
        cursor: pointer;
        @media screen  and (max-width:540px){
            text-align:center
        }
    }
    .matched{
        color:#54ba18;
    }
    .un-matched{
        color:#445298;
    }
    .stop-game{
        cursor: pointer;
        text-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
        font-family: Gotham;
        font-size: 2rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.21;
        letter-spacing: normal;
        text-align: left;
        color: #ff5155;
        margin:25px 0;
        img{
            width: 3rem;
            margin: 0;
        }
        @media screen and (max-width:540px) {
            text-align: center;
            font-size: 2.5rem;
        }
    }
}