.column{
    display:flex;
    flex-direction:column;
    
}
.top-details{
  /* font-family: Breamcatcher; */
  font-size: 44px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal; 
  color: #ff5155;
  margin-left:20px
}

.middle-section{
 display: flex;
 justify-content: center;
 align-items: center;
}
.random-word{
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
  /* font-family: Gotham; */
  font-size: 40px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: white;
  text-transform: uppercase;
}
.word-input{
  height: 60px;
  width: 530px;
  margin: 45px 49.4px 30px 35.3px;
  opacity: 0.59;
  border-radius: 15px;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8);
  background-color: white;
  color:#032228;
  text-transform: uppercase;
  text-align: center;
  font-size: 35px;
}
.score-section{
    /* font-family: Breamcatcher; */
    font-size: 44px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal; 
    color: white;
    margin-left:20px
  
}