body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:url(./assets/images/background.svg);
  background-repeat:repeat;
  background-size: contain;
  background-attachment: fixed;
}
body::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0.9;
  background:linear-gradient(to bottom, #063c47, #000000);
  
}
@media screen and (max-width:540px){
  body::before{
    height: 190%;
  }
}
@font-face {
  font-family: 'KaushanScript-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/KaushanScript-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}
